.Footer {
    background-color: $grey;

    &-content {
        display: flex;
        flex-direction: column;
        padding-left: 36px;
        padding-right: 33px;

    }

    &-title {
        width: 197px;
        height: 29px;
        font-size: 18px;
        font-weight: normal;
        line-height: 30px;
        color: $white;
        margin-top: 37px;
        margin-bottom: 24px;
        height: 29px;
        width: 100%;
    }

    &-button {
        width: 53px;
        height: 42px;
        color: $white;
        background-color: $purple;
        font-size: 26px;
        border-radius: 1px $white;
        border-color: rgba(0, 0, 0, 0.5);;
    
    }



    &-images {
        display: flex;
        justify-content: space-around;
    }

 
    &-list {
        display: flex;
        flex-direction: column;
    }

    &-logos {
        display: flex;
        align-items: center;


        &-spacing {
            margin-right: 38px;
            margin-left: 37px;
        }
    }

    &-form {
        width: 308px;

        &-content {
            width: 308px;
            display: flex;
        }
    }

    &-icons {
        display: flex;
    }
}

.dropbtn {
    cursor: pointer;
}

.dropdown:hover {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}
