.FooterList  {
    margin-top: 33px;
    
    &-list {
        display: flex;
        flex-direction: column;
      
    }

    &-form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 29px;
    
    }

    &-social {
        display: flex;
        justify-content: space-between;
        height: 29px;
        width: 100%;
        margin-top: 33px;
    

        &-title {
          height: 29px;  
          color: $white;
          font-size: 18px;
          line-height: 30px;
          font-weight: normal;
        }
    }

    &-logo {
 
        color: $white;
    }


    &-title {
        width: 197px;
        height: 29px;
        font-size: 18px;
        font-weight: normal;
        line-height: 30px;
        color: $white;
    }


    &-hr {
        border: 0;
        border-top: 0.5px solid $white;
        margin-bottom: 44px;
        margin-top: 64px;
    }

 
}