.Footer {
    background-color: $grey;

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-list {
        display: flex;
    }

    &-logos {
        display: flex;
    }

    &-form {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-icons {
        display: flex;
    }
}
